@font-face {
    font-family: 'HelveticaNeueLTStd75Bold';
    src: url('hneueltstd.eot');
    src: url('hneueltstd.eot') format('embedded-opentype'),
         url('hneueltstd.woff2') format('woff2'),
         url('hneueltstd.woff') format('woff'),
         url('hneueltstd.ttf') format('truetype'),
         url('hneueltstd.svg#HelveticaNeueLTStd75Bold') format('svg');
}
